

.blackbg{

background-color:black;

}
.colorwhite{color:white;}
.center {
    text-align: center;
}

.verdana {
    font-family: verdana;
}

.t-center {
    font-size: x-large;
    text-align: center;
    vertical-align: middle;
    line-height: 60px;
}
body{top:0;padding:0;margin:0;

}
input[type="text"],
textarea,
select,
button {
  outline: none;
}
.btn{  border-radius: 3.5px;
}
.btn {

  background-color: white;
  border: 1px solid black;
  min-height: 30px;
  min-width: 80px;

}
.btn:hover {
  background-color: black;

  color: white;
}
